# Python basics

### print() method

In [1]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>print()</code> is a function. You passed the string <code>'Hello, Python!'</code> as an argument to instruct Python on what to print.
</div>
<hr/>

<h3 id="comments">Writing comments in Python</h3>

<p>
    In addition to writing code, note that it's always a good idea to add comments to your code. It will help others understand what you were trying to accomplish (the reason why you wrote a given snippet of code). Not only does this help <strong>other people</strong> understand your code, it can also serve as a reminder <strong>to you</strong> when you come back to it weeks or months later.</p>

<p>
    To write comments in Python, use the number symbol <code>#</code> before writing your comment. When you run your code, Python will ignore everything past the <code>#</code> on a given line.
</p>

In [2]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

<p>
    After executing the cell above, you should notice that <code>This line prints a string</code> did not appear in the output, because it was a comment (and thus ignored by Python).
</p>
<p>
    The second line was also not executed because <code>print('Hi')</code> was preceded by the number sign (<code>#</code>) as well! Since this isn't an explanatory comment from the programmer, but an actual line of code, we might say that the programmer <em>commented out</em> that second line of code.
</p>

<hr>

<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesObjects.png" width="600">
</a>

<p>The following code cells contain some examples.</p>

In [3]:
# Integer

11

11

In [4]:
# Float

2.14

2.14

In [5]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [6]:
# Type of 12

type(12)

int

In [7]:
# Type of 2.14

type(2.14)

float

In [8]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [9]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

<details><summary>Click here for the solution</summary>

```python
type(12.0)

```

</details>

<h3 id="int">Integers</h3>

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesInt.png" width="600">
</a>

<p>We can verify this is the case by using, you guessed it, the <code>type()</code> function:

In [10]:
# Print the type of -1

type(-1)

int

In [11]:
# Print the type of 4

type(4)

int

In [12]:
# Print the type of 0

type(0)

int

<h3 id="float">Floats</h3>

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of <code>sys.float_info</code>. This will also tell you what's the largest and smallest number that can be represented with them.</p>

<p>Once again, can test some examples with the <code>type()</code> function:

In [13]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [14]:
# Print the type of 0.5

type(0.5)

float

In [15]:
# Print the type of 0.56

type(0.56)

float

<h3 id="convert">Converting from one object type to a different object type</h3>

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [16]:
# Verify that this is an integer

type(2)

int

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [17]:
# Convert 2 to a float

float(2)

2.0

In [18]:
# Convert integer 2 to a float and check its type

type(float(2))

float

<p>When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):</p>

In [19]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [ ]:
# Convert a string into an integer

int('1')

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

<h4>Converting numbers to strings</h4>

<p>If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?</p>

In [ ]:
# Convert an integer to a string

str(1)

<p>And there is no reason why we shouldn't be able to make floats into strings as well:</p>

In [ ]:
# Convert a float to a string

str(1.2)

<h3 id="bool">Boolean data type</h3>

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [ ]:
# Value true

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [ ]:
# Value false

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False

type(False)

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

<details><summary>Click here for the solution</summary>

```python
type(6/2) # float

```

</details>

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

<details><summary>Click here for the solution</summary>

```python
type(6//2) # int, as the double slashes stand for integer division 

```

</details>

<hr>

<h2 id="expressions">Expression and Variables</h2>

<h3 id="exp">Expressions</h3>

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

<p>We can perform subtraction operations using the minus operator. In this case the result is a negative number:</p>

In [ ]:
# Subtraction operation expression

50 - 60

<p>We can do multiplication using an asterisk:</p>

In [ ]:
# Multiplication operation expression

5 * 5

<p>We can also perform division with the forward slash:

In [ ]:
# Division operation expression

25 / 5

In [ ]:
# Division operation expression

25 / 6

<p>As seen in the quiz above, we can use the double slash for integer division, where the result is rounded down to the nearest integer:

In [ ]:
# Integer division operation expression

25 // 5

In [ ]:
# Integer division operation expression

25 // 6

<h3 id="exer_exp">Exercise: Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

<details><summary>Click here for the solution</summary>

```python
160/60 

# Or 

160//60

```

</details>

<p>Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [ ]:
# Mathematical expression

30 + 2 * 60

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [ ]:
# Mathematical expression

(30 + 2) * 60

<h3 id="var">Variables</h3>

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [ ]:
# Print out the value in variable

x

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [ ]:
# Overwrite variable with new value

x = x / 60
x

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

<p>If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., <code>//</code>).</p>

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2
x

<details><summary>Click here for the solution</summary>

```python
7

```

</details>

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (2 + 3) *2
y

<details><summary>Click here for the solution</summary>

```python
10

```

</details>

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y
z

<details><summary>Click here for the solution</summary>

```python
17

```

</details>

<hr><br>

<h2 id="strings">What are Strings?</h2>

The following example shows a string contained within 2 quotation marks:

In [ ]:
# Use quotation marks for defining string

"this is just a string"

We can also use single quotation marks:

In [ ]:
# Use single quotation marks for defining string

'this is just a string'

A string can be a combination of spaces and digits:

In [ ]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

A string can also be a combination of special characters :

In [ ]:
# Special characters in string

'@#2_#]&*^%$'

We can print our string using the print statement:

In [ ]:
# Print the string

print("hello!")

We can bind or assign a string to another variable:

In [ ]:
# Assign string to variable

name = "Abdallah Muhammad"
name

<hr>

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsIndex.png" width="600" align="center">

The first index can be accessed as follows:

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Because indexing starts at 0, it means the first index is on the index 0.
</div>
<hr/>

In [ ]:
# Print the first element in the string

print(name[0])

We can access index 6:

In [ ]:
# Print the element on index 6 in the string

print(name[6])

Moreover, we can access the 13th index:

In [ ]:
# Print the element on the 13th index in the string

print(name[13])

<h3 id="neg">Negative Indexing</h3>

We can also use negative indexing with strings:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsNeg.png" width="600" align="center">

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [ ]:
# Print the last element in the string

print(name[-1])

The first element can be obtained by  index -15:

In [ ]:
# Print the first element in the string

print(name[-15])

We can find the number of characters in a string by using <code>len</code>, short for length:

In [ ]:
# Find the length of string

len("Michael Jackson")

<h3 id="slice">Slicing</h3>

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsSlice.png" width="600" align="center">

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)
</div>
<hr/>

In [ ]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

In [ ]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

<h3 id="stride">Stride</h3>

We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsStride.png" width="600" align="center">

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [ ]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [ ]:
# Concatenate two strings

statement = name + "is the best"
statement

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [ ]:
# Print the string for 3 times

3 * "Michael Jackson"

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from Michael Jackson to “Michael Jackson is the best".

In [ ]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

<hr>

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

Similarly, back slash  "t" represents a tab:

In [ ]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

If you want to place a back slash in your string, use a double back slash:

In [ ]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

We can also place an "r" before the string to display the backslash:

In [ ]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

<hr>

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [ ]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

Let's try with the method <code>lower</code>; this method converts upper case characters to lower case characters:

In [ ]:
# Convert all the characters in string to lower case
a = "MICHAEL JACKSON IS THE BEST"
print("Before lower:", a)
b = a.lower()
print("After lower:", b)

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [ ]:
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

In [ ]:
# Replace the old substring with the new target substring by removing some punctuations.

a = "Hello! Michael Jackson has: 12 characters."
print(a)
b = a.replace('!','').replace(':','').replace('.','')
print(b)

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsFind.png" width="600" align="center">

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

In [ ]:
# Find the substring in the string.

name.find('Jack')

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [ ]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

The method <code>Split</code> splits the string at the specified separator, and returns a list:

In [ ]:
#Split the substring into list
name = "Michael Jackson"
split_string = (name.split())
split_string

## RegEx

In Python, RegEx (short for Regular Expression) is a tool for matching and handling strings.

This RegEx module provides several functions for working with regular expressions, including <code>search, split, findall,</code> and <code>sub</code>.

Python provides a built-in module called <code>re</code>, which allows you to work with regular expressions. 
First, import the <code>re</code> module

In [ ]:
import re

The search() function searches for specified patterns within a string. Here is an example that explains how to use the search() function to search for the word "Jackson" in the string "Michael Jackson is the best".

In [ ]:
s1 = "Michael Jackson is the best"

# Define the pattern to search for
pattern = r"Jackson"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, s1)

# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Regular expressions (RegEx) are patterns used to match and manipulate strings of text. There are several special sequences in RegEx that can be used to match specific characters or patterns.

| Special Sequence | Meaning                 | 	Example             |
| -----------  | ----------------------- | ----------------------|
| \d|Matches any digit character (0-9)|"123" matches "\d\d\d"|
|\D|Matches any non-digit character|"hello" matches "\D\D\D\D\D"|
|\w|Matches any word character (a-z, A-Z, 0-9, and _)|"hello_world" matches "\w\w\w\w\w\w\w\w\w"|
|\W|Matches any non-word character|	"@#$%" matches "\W\W\W\W"|
|\s|Matches any whitespace character (space, tab, newline, etc.)|"hello world" matches "\w\s\w\w\w\w\w"|
|\S|Matches any non-whitespace character|"hello_world" matches "\S\S\S\S\S\S\S\S\S"|
|\b|Matches the boundary between a word character and a non-word character|"cat" matches "\bcat\b" in "The cat sat on the mat"|
|\B|Matches any position that is not a word boundary|"cat" matches "\Bcat\B" in "category" but not in "The cat sat on the mat"|

Special Sequence Examples:

A simple example of using the <code>\d</code> special sequence in a regular expression pattern with Python code:

In [ ]:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No match")

The regular expression pattern is defined as r"\d\d\d\d\d\d\d\d\d\d", which uses the \d special sequence to match any digit character (0-9), and the \d sequence is repeated ten times to match ten consecutive digits

A simple example of using the <code>\W</code> special sequence in a regular expression pattern with Python code:

In [ ]:
pattern = r"\W"  # Matches any non-word character
text = "Hello, world!"
matches = re.findall(pattern, text)

print("Matches:", matches)

The regular expression pattern is defined as r"\W", which uses the \W special sequence to match any character that is not a word character (a-z, A-Z, 0-9, or _). The string we're searching for matches in is "Hello, world!".

The <code>findall()</code> function finds all occurrences of a specified pattern within a string.

In [ ]:
s2 = "Michael Jackson was a singer and known as the 'King of Pop'"


# Use the findall() function to find all occurrences of the "as" in the string
result = re.findall("as", s2)

# Print out the list of matched words
print(result)

A regular expression's <code>split()</code> function splits a string into an array of substrings based on a specified pattern.

In [ ]:
# Use the split function to split the string by the "\s"
split_array = re.split("\s", s2)

# The split_array contains all the substrings, split by whitespace characters
print(split_array)

The <code>sub</code> function of a regular expression in Python is used to replace all occurrences of a pattern in a string with a specified replacement.

In [ ]:
# Define the regular expression pattern to search for
pattern = r"King of Pop"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, s2, flags=re.IGNORECASE)

# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)

<hr>

<h2 id="quiz">Quiz on Strings</h2>

What is the value of the variable <code>a</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute 

a = "1"
a

<details><summary>Click here for the solution</summary>

```python
"1"

```

</details>

What is the value of the variable <code>b</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

b = "2"
b

<details><summary>Click here for the solution</summary>

```python
"2"

```

</details>

What is the value of the variable <code>c</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute 

c = a + b
c

<details><summary>Click here for the solution</summary>

```python
"12"

```

</details>

<hr>

Consider the variable <code>d</code> use slicing to print out the first three elements:

In [ ]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
d[:3]

<details><summary>Click here for the solution</summary>

```python
print(d[:3]) 

# or 

print(d[0:3])

```

</details>

<hr>

Use a stride value of 2 to print out every second character of the string <code>e</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
e[::2]

<details><summary>Click here for the solution</summary>

```python
print(e[::2])

```

</details>

<hr>

Print out a backslash:

In [ ]:
# Write your code below and press Shift+Enter to execute
print(r"\ ")
print("\\\\\\")

<details><summary>Click here for the solution</summary>

```python
print("\\\\\\")

or

print(r"\ ")

```

</details>

<hr>

Convert the variable <code>f</code> to uppercase:

In [ ]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

<details><summary>Click here for the solution</summary>

```python
f.upper()

```

</details>

Convert the variable <code>f2</code> to lowercase:

In [ ]:
# Write your code below and press Shift+Enter to execute
f2="YOU ARE RIGHT"
f.lower()

<details><summary>Click here for the solution</summary>

```python
f2.lower()

```

</details>

<hr>

Consider the variable <code>g</code>, and find the first index of the sub-string <code>snow</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find(r"snow")

<details><summary>Click here for the solution</summary>

```python
g.find("snow")

```

</details>

In the variable <code>g</code>, replace the sub-string <code>Mary</code> with <code>Bob</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
g.replace(r"Mary", r"Bob")

<details><summary>Click here for the solution</summary>

```python
g.replace("Mary", "Bob")

```

</details>

In the variable <code>g</code>, replace the sub-string <code>,</code> with <code>.</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
g.replace(',','.')

```

</details>

In the variable <code>g</code>, split the substring to list:

In [ ]:
# Write your code below and press Shift+Enter to execute
g.split()

<details><summary>Click here for the solution</summary>

```python
g.split()

```

</details>

In the string <code>s3</code>, find the four consicutive digit character using <code>\d</code> and <code>search() </code>function:

In [ ]:
s3 = "House number- 1105"
re.search("\d", s3)
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
# Use the search() function to search for the "\d" in the string
result = re.search("\d", s3)

# Check if a match was found
if result:
    print("Digit found")
else:
    print("Digit not found.")
```

</details>

In the string <code>str1</code>, replace the sub-string <code>fox</code> with <code>bear</code> using <code>sub() </code>function:

In [ ]:
str1= "The quick brown fox jumps over the lazy dog."

# Write your code below and press Shift+Enter to execute
re.sub(r"fox", "bear", str1)

<details><summary>Click here for the solution</summary>

```python
# Use re.sub() to replace "fox" with "bear"
new_str1 = re.sub(r"fox", r"bear", str1)

print(new_str1)
```

</details>

In the string <code>str2</code> find all the occurrences of <code>woo</code> using <code>findall()</code> function:

In [ ]:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

# Write your code below and press Shift+Enter to execute
re.findall(r"woo", str2)

<details><summary>Click here for the solution</summary>

```python
# Use re.findall() to find all occurrences of "woo"
matches = re.findall(r"woo", str2)

print(matches)
```

</details>