# Python basics

### print() method

In [1]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>print()</code> is a function. You passed the string <code>'Hello, Python!'</code> as an argument to instruct Python on what to print.
</div>
<hr/>

<h3 id="comments">Writing comments in Python</h3>

<p>
    In addition to writing code, note that it's always a good idea to add comments to your code. It will help others understand what you were trying to accomplish (the reason why you wrote a given snippet of code). Not only does this help <strong>other people</strong> understand your code, it can also serve as a reminder <strong>to you</strong> when you come back to it weeks or months later.</p>

<p>
    To write comments in Python, use the number symbol <code>#</code> before writing your comment. When you run your code, Python will ignore everything past the <code>#</code> on a given line.
</p>

In [2]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

<p>
    After executing the cell above, you should notice that <code>This line prints a string</code> did not appear in the output, because it was a comment (and thus ignored by Python).
</p>
<p>
    The second line was also not executed because <code>print('Hi')</code> was preceded by the number sign (<code>#</code>) as well! Since this isn't an explanatory comment from the programmer, but an actual line of code, we might say that the programmer <em>commented out</em> that second line of code.
</p>

<hr>

<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesObjects.png" width="600">
</a>

<p>The following code cells contain some examples.</p>

In [3]:
# Integer

11

11

In [4]:
# Float

2.14

2.14

In [5]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [6]:
# Type of 12

type(12)

int

In [7]:
# Type of 2.14

type(2.14)

float

In [8]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [9]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

<details><summary>Click here for the solution</summary>

```python
type(12.0)

```

</details>

<h3 id="int">Integers</h3>

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesInt.png" width="600">
</a>

<p>We can verify this is the case by using, you guessed it, the <code>type()</code> function:

In [10]:
# Print the type of -1

type(-1)

int

In [11]:
# Print the type of 4

type(4)

int

In [12]:
# Print the type of 0

type(0)

int

<h3 id="float">Floats</h3>

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of <code>sys.float_info</code>. This will also tell you what's the largest and smallest number that can be represented with them.</p>

<p>Once again, can test some examples with the <code>type()</code> function:

In [13]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [14]:
# Print the type of 0.5

type(0.5)

float

In [15]:
# Print the type of 0.56

type(0.56)

float

<h3 id="convert">Converting from one object type to a different object type</h3>

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [16]:
# Verify that this is an integer

type(2)

int

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [17]:
# Convert 2 to a float

float(2)

2.0

In [18]:
# Convert integer 2 to a float and check its type

type(float(2))

float

<p>When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):</p>

In [19]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [20]:
# Convert a string into an integer

int('1')

1

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [21]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

<h4>Converting numbers to strings</h4>

<p>If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?</p>

In [ ]:
# Convert an integer to a string

str(1)

<p>And there is no reason why we shouldn't be able to make floats into strings as well:</p>

In [ ]:
# Convert a float to a string

str(1.2)

<h3 id="bool">Boolean data type</h3>

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [ ]:
# Value true

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [ ]:
# Value false

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False

type(False)

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

<details><summary>Click here for the solution</summary>

```python
type(6/2) # float

```

</details>

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

<details><summary>Click here for the solution</summary>

```python
type(6//2) # int, as the double slashes stand for integer division 

```

</details>

<hr>

<h2 id="expressions">Expression and Variables</h2>

<h3 id="exp">Expressions</h3>

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

<p>We can perform subtraction operations using the minus operator. In this case the result is a negative number:</p>

In [ ]:
# Subtraction operation expression

50 - 60

<p>We can do multiplication using an asterisk:</p>

In [ ]:
# Multiplication operation expression

5 * 5

<p>We can also perform division with the forward slash:

In [ ]:
# Division operation expression

25 / 5

In [ ]:
# Division operation expression

25 / 6

<p>As seen in the quiz above, we can use the double slash for integer division, where the result is rounded down to the nearest integer:

In [ ]:
# Integer division operation expression

25 // 5

In [ ]:
# Integer division operation expression

25 // 6

<h3 id="exer_exp">Exercise: Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

<details><summary>Click here for the solution</summary>

```python
160/60 

# Or 

160//60

```

</details>

<p>Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [ ]:
# Mathematical expression

30 + 2 * 60

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [ ]:
# Mathematical expression

(30 + 2) * 60

<h3 id="var">Variables</h3>

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [ ]:
# Print out the value in variable

x

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [ ]:
# Overwrite variable with new value

x = x / 60
x

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

<p>If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., <code>//</code>).</p>

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2
x

<details><summary>Click here for the solution</summary>

```python
7

```

</details>

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (2 + 3) *2
y

<details><summary>Click here for the solution</summary>

```python
10

```

</details>

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y
z

<details><summary>Click here for the solution</summary>

```python
17

```

</details>

<hr><br>

<h2 id="strings">What are Strings?</h2>

The following example shows a string contained within 2 quotation marks:

In [ ]:
# Use quotation marks for defining string

"this is just a string"

We can also use single quotation marks:

In [ ]:
# Use single quotation marks for defining string

'this is just a string'

A string can be a combination of spaces and digits:

In [ ]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

A string can also be a combination of special characters :

In [ ]:
# Special characters in string

'@#2_#]&*^%$'

We can print our string using the print statement:

In [ ]:
# Print the string

print("hello!")

We can bind or assign a string to another variable:

In [ ]:
# Assign string to variable

name = "Abdallah Muhammad"
name

<hr>

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsIndex.png" width="600" align="center">

The first index can be accessed as follows:

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Because indexing starts at 0, it means the first index is on the index 0.
</div>
<hr/>

In [ ]:
# Print the first element in the string

print(name[0])

We can access index 6:

In [ ]:
# Print the element on index 6 in the string

print(name[6])

Moreover, we can access the 13th index:

In [ ]:
# Print the element on the 13th index in the string

print(name[13])

<h3 id="neg">Negative Indexing</h3>

We can also use negative indexing with strings:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsNeg.png" width="600" align="center">

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [ ]:
# Print the last element in the string

print(name[-1])

The first element can be obtained by  index -15:

In [ ]:
# Print the first element in the string

print(name[-15])

We can find the number of characters in a string by using <code>len</code>, short for length:

In [ ]:
# Find the length of string

len("Michael Jackson")

<h3 id="slice">Slicing</h3>

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsSlice.png" width="600" align="center">

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)
</div>
<hr/>

In [ ]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

In [ ]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

<h3 id="stride">Stride</h3>

We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsStride.png" width="600" align="center">

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [ ]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [ ]:
# Concatenate two strings

statement = name + "is the best"
statement

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [ ]:
# Print the string for 3 times

3 * "Michael Jackson"

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from Michael Jackson to “Michael Jackson is the best".

In [ ]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

<hr>

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

Similarly, back slash  "t" represents a tab:

In [ ]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

If you want to place a back slash in your string, use a double back slash:

In [ ]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

We can also place an "r" before the string to display the backslash:

In [ ]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

<hr>

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [ ]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

Let's try with the method <code>lower</code>; this method converts upper case characters to lower case characters:

In [ ]:
# Convert all the characters in string to lower case
a = "MICHAEL JACKSON IS THE BEST"
print("Before lower:", a)
b = a.lower()
print("After lower:", b)

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [ ]:
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

In [ ]:
# Replace the old substring with the new target substring by removing some punctuations.

a = "Hello! Michael Jackson has: 12 characters."
print(a)
b = a.replace('!','').replace(':','').replace('.','')
print(b)

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsFind.png" width="600" align="center">

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

In [ ]:
# Find the substring in the string.

name.find('Jack')

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [ ]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

The method <code>Split</code> splits the string at the specified separator, and returns a list:

In [ ]:
#Split the substring into list
name = "Michael Jackson"
split_string = (name.split())
split_string

## RegEx

In Python, RegEx (short for Regular Expression) is a tool for matching and handling strings.

This RegEx module provides several functions for working with regular expressions, including <code>search, split, findall,</code> and <code>sub</code>.

Python provides a built-in module called <code>re</code>, which allows you to work with regular expressions. 
First, import the <code>re</code> module

In [ ]:
import re

The search() function searches for specified patterns within a string. Here is an example that explains how to use the search() function to search for the word "Jackson" in the string "Michael Jackson is the best".

In [ ]:
s1 = "Michael Jackson is the best"

# Define the pattern to search for
pattern = r"Jackson"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, s1)

# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Regular expressions (RegEx) are patterns used to match and manipulate strings of text. There are several special sequences in RegEx that can be used to match specific characters or patterns.

| Special Sequence | Meaning                 | 	Example             |
| -----------  | ----------------------- | ----------------------|
| \d|Matches any digit character (0-9)|"123" matches "\d\d\d"|
|\D|Matches any non-digit character|"hello" matches "\D\D\D\D\D"|
|\w|Matches any word character (a-z, A-Z, 0-9, and _)|"hello_world" matches "\w\w\w\w\w\w\w\w\w"|
|\W|Matches any non-word character|	"@#$%" matches "\W\W\W\W"|
|\s|Matches any whitespace character (space, tab, newline, etc.)|"hello world" matches "\w\s\w\w\w\w\w"|
|\S|Matches any non-whitespace character|"hello_world" matches "\S\S\S\S\S\S\S\S\S"|
|\b|Matches the boundary between a word character and a non-word character|"cat" matches "\bcat\b" in "The cat sat on the mat"|
|\B|Matches any position that is not a word boundary|"cat" matches "\Bcat\B" in "category" but not in "The cat sat on the mat"|

Special Sequence Examples:

A simple example of using the <code>\d</code> special sequence in a regular expression pattern with Python code:

In [ ]:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No match")

The regular expression pattern is defined as r"\d\d\d\d\d\d\d\d\d\d", which uses the \d special sequence to match any digit character (0-9), and the \d sequence is repeated ten times to match ten consecutive digits

A simple example of using the <code>\W</code> special sequence in a regular expression pattern with Python code:

In [ ]:
pattern = r"\W"  # Matches any non-word character
text = "Hello, world!"
matches = re.findall(pattern, text)

print("Matches:", matches)

The regular expression pattern is defined as r"\W", which uses the \W special sequence to match any character that is not a word character (a-z, A-Z, 0-9, or _). The string we're searching for matches in is "Hello, world!".

The <code>findall()</code> function finds all occurrences of a specified pattern within a string.

In [ ]:
s2 = "Michael Jackson was a singer and known as the 'King of Pop'"


# Use the findall() function to find all occurrences of the "as" in the string
result = re.findall("as", s2)

# Print out the list of matched words
print(result)

A regular expression's <code>split()</code> function splits a string into an array of substrings based on a specified pattern.

In [ ]:
# Use the split function to split the string by the "\s"
split_array = re.split("\s", s2)

# The split_array contains all the substrings, split by whitespace characters
print(split_array)

The <code>sub</code> function of a regular expression in Python is used to replace all occurrences of a pattern in a string with a specified replacement.

In [ ]:
# Define the regular expression pattern to search for
pattern = r"King of Pop"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, s2, flags=re.IGNORECASE)

# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)

<hr>

<h2 id="quiz">Quiz on Strings</h2>

What is the value of the variable <code>a</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute 

a = "1"
a

<details><summary>Click here for the solution</summary>

```python
"1"

```

</details>

What is the value of the variable <code>b</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

b = "2"
b

<details><summary>Click here for the solution</summary>

```python
"2"

```

</details>

What is the value of the variable <code>c</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute 

c = a + b
c

<details><summary>Click here for the solution</summary>

```python
"12"

```

</details>

<hr>

Consider the variable <code>d</code> use slicing to print out the first three elements:

In [ ]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
d[:3]

<details><summary>Click here for the solution</summary>

```python
print(d[:3]) 

# or 

print(d[0:3])

```

</details>

<hr>

Use a stride value of 2 to print out every second character of the string <code>e</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
e[::2]

<details><summary>Click here for the solution</summary>

```python
print(e[::2])

```

</details>

<hr>

Print out a backslash:

In [ ]:
# Write your code below and press Shift+Enter to execute
print(r"\ ")
print("\\\\\\")

<details><summary>Click here for the solution</summary>

```python
print("\\\\\\")

or

print(r"\ ")

```

</details>

<hr>

Convert the variable <code>f</code> to uppercase:

In [ ]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

<details><summary>Click here for the solution</summary>

```python
f.upper()

```

</details>

Convert the variable <code>f2</code> to lowercase:

In [ ]:
# Write your code below and press Shift+Enter to execute
f2="YOU ARE RIGHT"
f.lower()

<details><summary>Click here for the solution</summary>

```python
f2.lower()

```

</details>

<hr>

Consider the variable <code>g</code>, and find the first index of the sub-string <code>snow</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find(r"snow")

<details><summary>Click here for the solution</summary>

```python
g.find("snow")

```

</details>

In the variable <code>g</code>, replace the sub-string <code>Mary</code> with <code>Bob</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
g.replace(r"Mary", r"Bob")

<details><summary>Click here for the solution</summary>

```python
g.replace("Mary", "Bob")

```

</details>

In the variable <code>g</code>, replace the sub-string <code>,</code> with <code>.</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
g.replace(',','.')

```

</details>

In the variable <code>g</code>, split the substring to list:

In [ ]:
# Write your code below and press Shift+Enter to execute
g.split()

<details><summary>Click here for the solution</summary>

```python
g.split()

```

</details>

In the string <code>s3</code>, find the four consicutive digit character using <code>\d</code> and <code>search() </code>function:

In [ ]:
s3 = "House number- 1105"
re.search("\d", s3)
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
# Use the search() function to search for the "\d" in the string
result = re.search("\d", s3)

# Check if a match was found
if result:
    print("Digit found")
else:
    print("Digit not found.")
```

</details>

In the string <code>str1</code>, replace the sub-string <code>fox</code> with <code>bear</code> using <code>sub() </code>function:

In [ ]:
str1= "The quick brown fox jumps over the lazy dog."

# Write your code below and press Shift+Enter to execute
re.sub(r"fox", "bear", str1)

<details><summary>Click here for the solution</summary>

```python
# Use re.sub() to replace "fox" with "bear"
new_str1 = re.sub(r"fox", r"bear", str1)

print(new_str1)
```

</details>

In the string <code>str2</code> find all the occurrences of <code>woo</code> using <code>findall()</code> function:

In [ ]:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

# Write your code below and press Shift+Enter to execute
re.findall(r"woo", str2)

<details><summary>Click here for the solution</summary>

```python
# Use re.findall() to find all occurrences of "woo"
matches = re.findall(r"woo", str2)

print(matches)
```

</details>

<hr><br>

<h2 id="list">Lists</h2>

<h3 id="index">Indexing</h3>

We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an <b>index</b>. An index is used to access and refer to items within a list.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsIndex.png" width="1000">

 To create a list, type the list within square brackets <b>[ ]</b>, with your content inside the parenthesis and separated by commas. Let’s try it!

In [ ]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

We can use negative and regular indexing with a list:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsNeg.png" width="1000">

In [ ]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

<h3 id="content">List Content</h3>

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [ ]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

<h3 id="op">List Operations</h3>

 We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L[3:5]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsSlice.png" width="1000">

In [ ]:
# List slicing

L[3:5]

We can use the method <code>extend</code> to add new elements to the list:

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

Another similar method is <code>append</code>. If we apply <code>append</code> instead of <code>extend</code>, we add one element to the list:

In [ ]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

 Each time we apply a method, the list changes. If we apply <code>extend</code> we add two new elements to the list. The list <code>L</code> is then modified by adding two new elements:

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

If we append the list  <code>['a','b']</code> we have one new element consisting of a nested list:

In [ ]:
# Use append to add elements to list

L.append(['a','b'])
L

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

 We can also delete an element of a list using the <code>del</code> command:

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

In [ ]:
# Split the string, default is by space

'hard rock'.split()

We can use the split function to separate strings on a specific character which we call a **delimiter**. We pass the character we would like to split on into the argument, which in this case is a comma.  The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [ ]:
# Split the string by comma

'A,B,C,D'.split(',')

<h3 id="co">Copy and Clone List</h3>

When we set one variable <b>B</b> equal to <b>A</b>, both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRef.png" width="1000" align="center">

Initially, the value of the first element in <b>B</b> is set as "hard rock". If we change the first element in <b>A</b> to <b>"banana"</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get "banana" instead of "hard rock":

In [ ]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

This is demonstrated in the following figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRefGif.gif" width="1000">

You can clone list **A** by using  the following syntax:

In [ ]:
# Clone (clone by value) the list A

B = A[:]
B

 Variable **B** references a new copy or clone of the original list. This is demonstrated in the following figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsVal.gif" width="1000">

Now if you change <b>A</b>, <b>B</b> will not change:

In [ ]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

<h2 id="quiz">Quiz on List</h2>

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute
a_list = [1, "hello", [1,2,3], True]
a_list

<details><summary>Click here for the solution</summary>

```python
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

```

</details>

Find the value stored at index 1 of <code>a_list</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute
a_list[1]

<details><summary>Click here for the solution</summary>

```python
a_list[1]

```

</details>

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute
a_list[1:4]

<details><summary>Click here for the solution</summary>

```python
a_list[1:4]

```

</details>

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
A = [1, 'a']
B = [2, 1, 'd']
A + B

<details><summary>Click here for the solution</summary>

```python
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

```

</details>

<hr>

<h2 id="tuple">Tuples</h2>

In Python, there are different data types: string, integer, and float. These data types can all be contained in a tuple as follows:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesType.png" width="750" align="center">

Now, let us create your first tuple with string, integer and float.

In [ ]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

The type of variable is a **tuple**.

In [ ]:
# Print the type of the tuple you created

type(tuple1)

<h3 id="index">Indexing</h3>

 Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesIndex.gif" width="750" align="center">

We can print out each value in the tuple:

In [ ]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

We can print out the **type** of each value in the tuple:

In [ ]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

We can also use negative indexing. We use the same table above with corresponding negative values:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesNeg.png" width="750" align="center">

We can obtain the last element as follows (this time we will not use the print statement to display the values):

In [ ]:
# Use negative index to get the value of the last element

tuple1[-1]

We can display the next two elements as follows:

In [ ]:
# Use negative index to get the value of the second last element

tuple1[-2]

In [ ]:
# Use negative index to get the value of the third last element

tuple1[-3]

<h3 id="concate">Concatenate Tuples</h3>

We can concatenate or combine tuples by using the **+** sign:

In [ ]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

We can slice tuples obtaining multiple values as demonstrated by the figure below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesSlice.gif" width="750" align="center">

<h3 id="slice">Slicing</h3>

We can slice tuples, obtaining new tuples with the corresponding elements:

In [ ]:
# Slice from index 0 to index 2

tuple2[0:3]

We can obtain the last two elements of the tuple:

In [ ]:
# Slice from index 3 to index 4

tuple2[3:5]

We can obtain the length of a tuple using the length command:

In [ ]:
# Get the length of tuple

len(tuple2)

This figure shows the number of elements:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesElement.png" width="750" align="center">

<h3 id="sort">Sorting</h3>

 Consider the following tuple:

In [ ]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

We can sort the values in a tuple and save it to a new tuple:

In [ ]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

<h3 id="nest">Nested Tuple</h3>

A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

Each element in the tuple, including other tuples, can be obtained via an index as shown in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesNestOne.png" width="750" align="center">

In [ ]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

We can use the second index to access other tuples as demonstrated in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesNestTwo.png" width="750" align="center">

 We can access the nested tuples:

In [ ]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

We can access strings in the second nested tuples using a third index:

In [ ]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

In [ ]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

 We can use a tree to visualise the process. Each new index corresponds to a deeper level in the tree:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesNestThree.gif" width="750" align="center">

Similarly, we can access elements nested deeper in the tree with a third index:

In [ ]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

In [ ]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

The following figure shows the relationship of the tree and the element <code>NestedT[4][1][1]</code>:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesNestFour.gif" width="750" align="center">

<h2 id="quiz">Quiz on Tuples</h2>

Consider the following tuple:

In [ ]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

Find the length of the tuple, <code>genres_tuple</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesQuiz.png" width="1100" align="center">

<details><summary>Click here for the solution</summary>

```python
len(genres_tuple)
```

</details>

Access the element, with respect to index 3:

In [ ]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3]

<details><summary>Click here for the solution</summary>

```python
genres_tuple[3]

```

</details>

Use slicing to obtain indexes 3, 4 and 5:

In [ ]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3:6]

<details><summary>Click here for the solution</summary>

```python
genres_tuple[3:6]

```

</details>

Find the first two elements of the tuple <code>genres_tuple</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
genres_tuple[:2]

<details><summary>Click here for the solution</summary>

```python
genres_tuple[0:2]

```

</details>

Find the first index of <code>"disco"</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
genres_tuple.index("disco")

<details><summary>Click here for the solution</summary>

```python
genres_tuple.index("disco")

```

</details>

Generate a sorted List from the Tuple <code>C_tuple=(-5, 1, -3)</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
C_tuple = [-5, 1, -3]
C_sorted= sorted(C_tuple)
C_sorted

<details><summary>Click here for the solution</summary>

```python
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

```

</details>

<hr><br>

<h2 id="Dic">Dictionaries</h2>

<h3 id="content">What are Dictionaries?</h3>

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="650">

An example of a Dictionary <code>Dict</code>:

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

The keys can be strings:

In [ ]:
# Access to the value by the key

Dict["key1"]

Keys can also be any immutable object such as a tuple:

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

 Each key is separated from its value by a colon "<code>:</code>".  Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this  "<code>{}</code>".

In [ ]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

In summary, like a list, a dictionary holds a sequence of elements. Each element is represented by a key and its corresponding value. Dictionaries are created with two curly braces containing keys and values separated by a colon. For every key, there can only be one single value, however,  multiple keys can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

It is helpful to visualize the dictionary as a table, as in the following image. The first column represents the keys, the second column represents the values.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsStructure.png" width="650">

<h3 id="key">Keys</h3>

You can retrieve the values based on the names:

In [ ]:
# Get value by keys

release_year_dict['Thriller']

This corresponds to:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsKeyOne.png" width="500">

Similarly for <b>The Bodyguard</b>

In [ ]:
# Get value by key

release_year_dict['The Bodyguard']

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsKeyTwo.png" width="500">

Now let us retrieve the keys of the dictionary using the method <code>keys()</code>:

In [ ]:
# Get all the keys in dictionary

release_year_dict.keys()

You can retrieve the values using the method  <code>values()</code>:

In [ ]:
# Get all the values in dictionary

release_year_dict.values()

We can add an entry:

In [ ]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

We can delete an entry:

In [ ]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

 We can verify if an element is in the dictionary:

In [ ]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

<hr>

<h2 id="quiz">Quiz on Dictionaries</h2>

<b>You will need this dictionary for the next two questions:</b>

In [ ]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

a) In the dictionary <code>soundtrack_dic</code> what are the keys ?

In [ ]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.keys()

<details><summary>Click here for the solution</summary>

```python
soundtrack_dic.keys() # The Keys "The Bodyguard" and "Saturday Night Fever" 

```

</details>

b) In the dictionary <code>soundtrack_dic</code> what are the values ?

In [ ]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.values()

<details><summary>Click here for the solution</summary>

```python
soundtrack_dic.values() # The values are "1992" and "1977"

```

</details>

<hr>

<b>You will need this dictionary for the following questions:</b>

The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values.

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict = {"back in black":"50M", "the bodyguard":"50M", "thriller":"65M"}
album_sales_dict

<details><summary>Click here for the solution</summary>

```python
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

```

</details>

b) Use the dictionary to find the total sales of <b>Thriller</b>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict["thriller"]

<details><summary>Click here for the solution</summary>

```python
album_sales_dict["Thriller"]

```

</details>

c) Find the names of the albums from the dictionary using the method <code>keys()</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.keys()

<details><summary>Click here for the solution</summary>

```python
album_sales_dict.keys()

```

</details>

d) Find the values of the recording sales from the dictionary using the method <code>values</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.values()

<details><summary>Click here for the solution</summary>

```python
album_sales_dict.values()

```

</details>

<hr><br>

<h2 id="set">Sets</h2>

<h3 id="content">Set Content</h3>

A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets <b>{}</b>. Python will automatically remove duplicate items:

In [ ]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

The process of mapping is illustrated in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnique.png" width="1100">

 You can also  create a set from a list as follows:

In [ ]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

Now let us create a set of  genres:

In [ ]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

<h3 id="op">Set Operations</h3>

Let us go over set operations, as these can be used to change the set. Consider the set <b>A</b>:

In [ ]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

 We can add an element to a set using the <code>add()</code> method:

In [ ]:
# Add element to set

A.add("NSYNC")
A

 If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [ ]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

 We can remove an item from a set using the <code>remove</code> method:

In [ ]:
# Remove the element from set

A.remove("NSYNC")
A

 We can verify if an element is in the set using the <code>in</code> command:

In [ ]:
# Verify if the element is in the set

"AC/DC" in A

<h3 id="logic">Sets Logic Operations</h3>

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

 Consider the following two sets:

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsSamples.png" width="650">

In [ ]:
# Print two sets

album_set1, album_set2

As both sets contain <b>AC/DC</b> and <b>Back in Black</b> we represent these common elements with the intersection of two circles.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLogic.png" width="650">

You can find the intersect of two sets as follow using <code>&</code>:

In [ ]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

You can find all the elements that are only contained in <code>album_set1</code> using the <code>difference</code> method:

In [ ]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

You only need to consider elements in <code>album_set1</code>; all the elements in <code>album_set2</code>, including the intersection, are not included.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLeft.png" width="650">

The elements in <code>album_set2</code> but not in <code>album_set1</code> is given by:

In [ ]:
album_set2.difference(album_set1)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsRight.png" width="650">

You can also find the intersection of <code>album_list1</code> and <code>album_list2</code>, using the <code>intersection</code> method:

In [ ]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

 This corresponds to the intersection of the two circles:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsIntersect.png" width="650">

The union corresponds to all the elements in both sets, which is represented by coloring both circles:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnion.png" width="650">

 The union is given by:

In [ ]:
# Find the union of two sets

album_set1.union(album_set2)

And you can check if a set is a superset or subset of another set, respectively, like this:

In [ ]:
# Check if superset

set(album_set1).issuperset(album_set2)

In [ ]:
# Check if subset

set(album_set2).issubset(album_set1)

Here is an example where <code>issubset()</code> and <code>issuperset()</code> return true:

In [ ]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

In [ ]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

<hr>

<h2 id="quiz">Quiz on Sets</h2>

Convert the list <code>['rap','house','electronic music', 'rap']</code> to a set:

In [ ]:
# Write your code below and press Shift+Enter to execute
st = set(['rap','house','electronic music', 'rap'])
print(st)
print(type(st))

<details><summary>Click here for the solution</summary>

```python
set(['rap','house','electronic music','rap'])

```

</details>

<hr>

Consider the list <code>A = [1, 2, 2, 1]</code> and set <code>B = set([1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [ ]:
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print(sum(A))
print(sum(B))
# sum(A) != sum(B)

<details><summary>Click here for the solution</summary>

```python
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

```

</details>

<hr>

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

<details><summary>Click here for the solution</summary>

```python
album_set3 = album_set1.union(album_set2)
album_set3

```

</details>

<hr>

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_set1.issubset(album_set3)

<details><summary>Click here for the solution</summary>

```python
album_set1.issubset(album_set3)

```

</details>

<hr>

<h2 id="cond">Condition Statements</h2>

<h3 id="comp">Comparison Operators</h3>

Comparison operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can use these operators:

<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

Let's assign <code>a</code> a value of 5. Use the equality operator denoted with two equal <b>==</b> signs to determine if two values are equal. The case below compares the variable <code>a</code> with 6.

In [ ]:
# Condition Equal

a = 5
a == 6

The result is <b>False</b>, as 5 does not equal to 6.

Consider the following equality comparison operator: <code>i > 5</code>. If the value of the left operand, in this case the variable <b>i</b>, is greater than the value of the right operand, in this case 5, then the statement is <b>True</b>. Otherwise, the statement is <b>False</b>.  If <b>i</b> is equal to 6, because 6 is larger than 5, the output is <b>True</b>.

In [ ]:
# Greater than Sign

i = 6
i > 5

Set <code>i = 2</code>. The statement is False as 2 is not greater than 5:

In [ ]:
# Greater than Sign

i = 2
i > 5

 Let's display some values for <code>i</code> in the figure. Set the values greater than 5 in green and the rest in red. The green region represents where the condition is **True**, the red where the statement is **False**. If the value of <code>i</code> is 2, we get **False** as the 2 falls in the red region. Similarly, if the value for <code>i</code> is 6 we get a **True** as the condition falls in the green region.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsGreater.gif" width="650">

The inequality test uses an exclamation mark preceding the equal sign, if two operands are not equal then the condition becomes **True**.  For example, the following condition will produce **True** as long as the value of <code>i</code> is not equal to 6:

In [ ]:
# Inequality Sign

i = 2
i != 6

When <code>i</code> equals 6 the inequality expression produces <b>False</b>.

In [ ]:
# Inequality Sign

i = 6
i != 6

See the number line below. When the condition is **True**, the corresponding numbers are marked in green and for where the condition is **False** the corresponding number is marked in red.  If we set <code>i</code> equal to 2 the operator is true, since 2 is in the green region. If we set <code>i</code> equal to 6, we get a **False**, since the condition falls in the red region.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsIneq.gif" width="650">

 We can apply the same methods on strings. For example, we can use an equality operator on two different strings. As the strings are not equal, we get a **False**.

In [ ]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

 If we use the inequality operator, the output is going to be **True** as the strings are not equal.

In [ ]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

The inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. The decimal value shown in the following table represents the order of the character:


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-7geq{background-color:#ffffc7;text-align:center;vertical-align:top}
.tg .tg-1cln{background-color:#ffcc67;font-size:100%;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-xozw{background-color:#ffcc67;font-weight:bold;text-align:center;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-1cln">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-7geq">A</td>
    <td class="tg-baqh">65</td>
    <td class="tg-7geq">N</td>
    <td class="tg-baqh">78</td>
    <td class="tg-7geq">a</td>
    <td class="tg-baqh">97</td>
    <td class="tg-7geq">n</td>
    <td class="tg-baqh">110</td>
  </tr>
  <tr>
    <td class="tg-7geq">B</td>
    <td class="tg-baqh">66</td>
    <td class="tg-7geq">O</td>
    <td class="tg-baqh">79</td>
    <td class="tg-7geq">b</td>
    <td class="tg-baqh">98</td>
    <td class="tg-7geq">o</td>
    <td class="tg-baqh">111</td>
  </tr>
  <tr>
    <td class="tg-7geq">C</td>
    <td class="tg-baqh">67</td>
    <td class="tg-7geq">P</td>
    <td class="tg-baqh">80</td>
    <td class="tg-7geq">c</td>
    <td class="tg-baqh">99</td>
    <td class="tg-7geq">p</td>
    <td class="tg-baqh">112</td>
  </tr>
  <tr>
    <td class="tg-7geq">D</td>
    <td class="tg-baqh">68</td>
    <td class="tg-7geq">Q</td>
    <td class="tg-baqh">81</td>
    <td class="tg-7geq">d</td>
    <td class="tg-baqh">100</td>
    <td class="tg-7geq">q</td>
    <td class="tg-baqh">113</td>
  </tr>
  <tr>
    <td class="tg-7geq">E</td>
    <td class="tg-baqh">69</td>
    <td class="tg-7geq">R</td>
    <td class="tg-baqh">82</td>
    <td class="tg-7geq">e</td>
    <td class="tg-baqh">101</td>
    <td class="tg-7geq">r</td>
    <td class="tg-baqh">114</td>
  </tr>
  <tr>
    <td class="tg-7geq">F</td>
    <td class="tg-baqh">70</td>
    <td class="tg-7geq">S</td>
    <td class="tg-baqh">83</td>
    <td class="tg-7geq">f</td>
    <td class="tg-baqh">102</td>
    <td class="tg-7geq">s</td>
    <td class="tg-baqh">115</td>
  </tr>
  <tr>
    <td class="tg-7geq">G</td>
    <td class="tg-baqh">71</td>
    <td class="tg-7geq">T</td>
    <td class="tg-baqh">84</td>
    <td class="tg-7geq">g</td>
    <td class="tg-baqh">103</td>
    <td class="tg-7geq">t</td>
    <td class="tg-baqh">116</td>
  </tr>
  <tr>
    <td class="tg-7geq">H</td>
    <td class="tg-baqh">72</td>
    <td class="tg-7geq">U</td>
    <td class="tg-baqh">85</td>
    <td class="tg-7geq">h</td>
    <td class="tg-baqh">104</td>
    <td class="tg-7geq">u</td>
    <td class="tg-baqh">117</td>
  </tr>
  <tr>
    <td class="tg-7geq">I</td>
    <td class="tg-baqh">73</td>
    <td class="tg-7geq">V</td>
    <td class="tg-baqh">86</td>
    <td class="tg-7geq">i</td>
    <td class="tg-baqh">105</td>
    <td class="tg-7geq">v</td>
    <td class="tg-baqh">118</td>
  </tr>
  <tr>
    <td class="tg-7geq">J</td>
    <td class="tg-baqh">74</td>
    <td class="tg-7geq">W</td>
    <td class="tg-baqh">87</td>
    <td class="tg-7geq">j</td>
    <td class="tg-baqh">106</td>
    <td class="tg-7geq">w</td>
    <td class="tg-baqh">119</td>
  </tr>
  <tr>
    <td class="tg-7geq">K</td>
    <td class="tg-baqh">75</td>
    <td class="tg-7geq">X</td>
    <td class="tg-baqh">88</td>
    <td class="tg-7geq">k</td>
    <td class="tg-baqh">107</td>
    <td class="tg-7geq">x</td>
    <td class="tg-baqh">120</td>
  </tr>
  <tr>
    <td class="tg-7geq">L</td>
    <td class="tg-baqh">76</td>
    <td class="tg-7geq">Y</td>
    <td class="tg-baqh">89</td>
    <td class="tg-7geq">l</td>
    <td class="tg-baqh">108</td>
    <td class="tg-7geq">y</td>
    <td class="tg-baqh">121</td>
  </tr>
  <tr>
    <td class="tg-7geq">M</td>
    <td class="tg-baqh">77</td>
    <td class="tg-7geq">Z</td>
    <td class="tg-baqh">90</td>
    <td class="tg-7geq">m</td>
    <td class="tg-baqh">109</td>
    <td class="tg-7geq">z</td>
    <td class="tg-baqh">122</td>
  </tr>
</tbody>
</table>

For example, the ASCII code for <b>!</b> is 33, while the ASCII code for <b>+</b> is 43. Therefore <b>+</b> is larger than <b>!</b> as 43 is greater than 33.

Similarly, from the table above we see that the value for <b>A</b> is 65, and the value for <b>B</b> is 66, therefore:

In [ ]:
# Compare characters

'B' > 'A'

 When there are multiple letters, the first letter takes precedence in ordering:

In [ ]:
# Compare characters

'BA' > 'AB'

<b>Note</b>: Upper Case Letters have different ASCII code than Lower Case Letters, which means the comparison between the letters in Python is case-sensitive.

<h3 id="branch">Branching</h3>

 Branching allows us to run different statements for different inputs. It is helpful to think of an **if statement** as a locked room, if the statement is **True** we can enter the room and your program will run some predefined tasks, but if the statement is **False** the program will ignore the task.

For example, consider the blue rectangle representing an ACDC concert. If the individual is older than 18, they can enter the ACDC concert. If they are 18 or younger, they cannot enter the concert.

We can use the condition statements learned before as the conditions that need to be checked in the **if statement**. The syntax is as simple as <code> if <i>condition statement</i> :</code>, which contains a word <code>if</code>, any condition statement, and a colon at the end. Start your tasks which need to be executed under this condition in a new line with an indent. The lines of code after the colon and with an indent will only be executed when the **if statement** is **True**. The tasks will end when the line of code does not contain the indent.

In the case below, the code <code>print(“you can enter”)</code> is executed only if the variable <code>age</code> is greater than 18 is a True case because this line of code has the indent. However, the execution of <code>print(“move on”)</code> will not be influenced by the if statement.

In [ ]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

<i>Try uncommenting the age variable</i>

It is helpful to use the following diagram to illustrate the process. On the left side, we see what happens when the condition is <b>True</b>.  The person enters the ACDC concert representing the code in the indent being executed; they then move on. On the right side, we see what happens when the condition is <b>False</b>; the person is not granted access, and the person moves on. In this case, the segment of code in the indent does not run, but the rest of the statements are run.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsIf.gif" width="650">

The <code>else</code> statement runs a block of code if none of the conditions are **True** before this <code>else</code> statement. Let's use the ACDC concert analogy again. If the user is 17 they cannot go to the ACDC concert,  but they can go to the Meatloaf concert.
The syntax of the <code>else</code> statement is similar as the syntax of the <code>if</code> statement, as <code>else :</code>. Notice that, there is no condition statement for <code>else</code>.
Try changing the values of <code>age</code> to see what happens:

In [ ]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

The process is demonstrated below, where each of the possibilities is illustrated on each side of the image. On the left is the case where the age is 17, we set the variable age to 17, and this corresponds to the individual attending the Meatloaf concert. The right portion shows what happens when the individual is over 18, in this case 19, and the individual is granted access to the concert.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsElse.gif" width="650">

The <code>elif</code> statement, short for else if, allows us to check additional conditions if the condition statements before it are <b>False</b>. If the condition for the <code>elif</code> statement is <b>True</b>, the alternate expressions will be run. Consider the concert example, where if the individual is 18 they will go to the Pink Floyd concert instead of attending the ACDC or Meat-loaf concert. A person that is 18 years of age enters the area, and as they are not older than 18 they can not see ACDC, but since they are 18 years of age, they attend  Pink Floyd. After seeing Pink Floyd, they move on. The syntax of the <code>elif</code> statement is similar in that we merely change the <code>if</code> in the <code>if</code> statement to <code>elif</code>.

In [ ]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

The three combinations are shown in the figure below.  The left-most region shows what happens when the individual is less than 18 years of age. The central component shows when the individual is exactly 18. The rightmost shows when the individual is over 18.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsElif.gif" width="650">

 Look at the following code:

In [ ]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

Feel free to change <code>album_year</code> value to other values -- you'll see that the result changes!

Notice that the code in the above <b>indented</b> block will only be executed if the results are <b>True</b>.

As before, we can add an <code>else</code> block to the <code>if</code> block. The code in the <code>else</code> block will only be executed if the result is <b>False</b>.


<b>Syntax:</b> 

if (condition):
    # do something
else:
    # do something else

If the condition in the <code>if</code> statement is <b>False</b>, the statement after the <code>else</code> block will execute. This is demonstrated in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsLogicMap.png" width="650">

In [ ]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Feel free to change the <code>album_year</code> value to other values -- you'll see that the result changes based on it!

<h3 id="logic">Logical operators</h3>


Sometimes you want to check more than one condition at once. For example, you might want to check if one condition and another condition are both **True**. Logical operators allow you to combine or modify conditions.
<ul>
    <li><code>and</code></li>
    <li><code>or</code></li>
    <li><code>not</code></li>
</ul>

These operators are summarized for two variables using the following truth tables:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsTable.png" width="650">

The <code>and</code> statement is only **True** when both conditions are true. The <code>or</code> statement is True if one condition, or both are **True**. The <code>not</code> statement outputs the opposite truth value.

Let's see how to determine if an album was released after 1979 (1979 is not included) and before 1990 (1990 is not included). The time periods between 1980 and 1989 satisfy this condition. This is demonstrated in the figure below. The green on lines <strong>a</strong> and <strong>b</strong> represents periods where the statement is **True**. The green on line <strong>c</strong> represents where both conditions are **True**, this corresponds to where the green regions overlap.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsEgOne.png" width="650">

 The block of code to perform this check is given by:

In [ ]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

To determine if an album was released before 1980 (1979 and earlier) or after 1989 (1990 and onward ), an or statement can be used. Periods before 1980 (1979 and earlier) or after 1989 (1990 and onward) satisfy this condition. This is demonstrated in the following figure, the color green in <strong>a</strong> and <strong>b</strong> represents periods where the statement is true. The color green in **c** represents where at least one of the conditions 
are true.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsEgTwo.png" width="650">

The block of code to perform this check is given by:

In [ ]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

The <code>not</code> statement checks if the statement is false:

In [ ]:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

<hr>

<h2 id="quiz">Quiz on Conditions</h2>

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album <b>“Back in Black”</b> that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [ ]:
# Write your code below and press Shift+Enter to execute
rate = 8.5
if(rate > 8):
    print("This album is amazing")

<details><summary>Click here for the solution</summary>

```python
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")
```

</details>

<hr>

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [ ]:
# Write your code below and press Shift+Enter to execute
rate = 8.5
if rate > 8:
    print("this album is amazing")
else:
    print("this album is ok")

<details><summary>Click here for the solution</summary>

```python
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")
    
```

</details>

<hr>

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [ ]:
# Write your code below and press Shift+Enter to execute
album = 1993
if album < 1980 or album == 1991 or album == 1993:
    print(f"the album came out in {album}")

<details><summary>Click here for the solution</summary>

```python
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)
    
```

</details>

<hr>

<h2 id="loop">Loops</h2>

<h3 id="range">Range</h3>

Sometimes, you might want to repeat a given operation many times. Repeated executions like this are performed by <b>loops</b>. We will look at two types of loops, <code>for</code> loops and <code>while</code> loops.

Before we discuss loops lets discuss the <code>range</code> object. It is helpful to think of the range object as an ordered list. For now, let's look at the simplest case. If we would like to generate an object that contains elements ordered from 0 to 2 we simply use the following command:

In [ ]:
# Use the range

range(3)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/range.PNG" width="300">

<h3 id="for">What is <code>for</code> loop?</h3>

The <code>for</code> loop enables you to execute a code block multiple times. For example, you would use this if you would like to print out every element in a list.    
Let's try to use a <code>for</code> loop to print all the years presented in the list <code>dates</code>:

This can be done as follows:

In [ ]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

The code in the indent is executed <code>N</code> times, each time the value of <code>i</code> is increased by 1 for every execution. The statement executed is to <code>print</code> out the value in the list at index <code>i</code> as shown here:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/LoopsForRange.gif" width="800">

In this example we can print out a sequence of numbers from 0 to 7:

In [ ]:
# Example of for loop

for i in range(0, 8):
    print(i)

In Python we can directly access the elements in the list as follows:

In [ ]:
# Exmaple of for loop, loop through list

for year in dates:  
    print(year)

For each iteration, the value of the variable <code>year</code> behaves like the value of <code>dates[i]</code> in the  first example:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/LoopsForList.gif" width="800">

We can change the elements in a list:

In [ ]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

 We can access the index and the elements of a list as follows:

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

<h3 id="while">What is <code>while</code> loop?</h3>

As you can see, the <code>for</code> loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The <code>while</code> loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a **False** boolean value.

Let’s say we would like to iterate through list <code>dates</code> and stop at the year 1973, then print out the number of iterations. This can be done with the following block of code:

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

A while loop iterates merely until the condition in the argument is not  met, as shown in the following figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/LoopsWhile.gif" width="650">

<hr>

<h2 id="quiz">Quiz on Loops</h2>

Write a <code>for</code> loop the prints out all the element between <b>-5</b> and <b>5</b> using the range function.

In [ ]:
# Write your code below and press Shift+Enter to execute
for i in range(-4, 5):
    print(i)

<details><summary>Click here for the solution</summary>

```python
for i in range(-4, 5):
    print(i)
    
```

</details>

Print the elements of the following list:
<code>Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']</code>
Make sure you follow Python conventions.

In [ ]:
# Write your code below and press Shift+Enter to execute
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in Genres:
    print(i)

<details><summary>Click here for the solution</summary>

```python
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)
    
```

</details>

<hr>

Write a for loop that prints out the following list: <code>squares=['red', 'yellow', 'green', 'purple', 'blue']</code>

In [ ]:
# Write your code below and press Shift+Enter to execute
squares=['red', 'yellow', 'green', 'purple', 'blue']
for i in squares:
    print(i)

<details><summary>Click here for the solution</summary>

```python
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)
    
```

</details>

<hr>

Write a while loop to display the values of the Rating of an album playlist stored in the list <code>PlayListRatings</code>. If the score is less than 6, exit the loop. The list <code>PlayListRatings</code> is given by: <code>PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]</code>

In [ ]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
while (i < len(PlayListRatings) and PlayListRatings[i] > 6) :
    print(PlayListRatings[i])
    i+=1
# i < len(PlayListRatings) is for avoiding the infinite loop output.

<details><summary>Click here for the solution</summary>

```python
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]
while(i < len(PlayListRatings) and rating >= 6):
    print(rating)
    i = i + 1 
    rating = PlayListRatings[i]    
```

</details>

Write a while loop to copy the strings <code>'orange'</code> of the list <code>squares</code> to the list <code>new_squares</code>. Stop and exit the loop if the value on the list is not <code>'orange'</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while (i < len(squares) and squares[i] == "orange"):
    new_squares.append(squares[i])
    i+=1
new_squares

<details><summary>Click here for the solution</summary>

```python
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)
    
```

</details>

<hr>

<h2 id="func">Functions</h2>

A function is a reusable block of code which performs operations specified in the function. They let you break down tasks and allow you to reuse your code in different programs.

There are two types of functions :

*   <b>Pre-defined functions</b>
*   <b>User defined functions</b>

<h3 id="content">What is a Function?</h3>

You can define functions to provide the required functionality. Here are simple rules to define a function in Python:

*   Functions blocks begin <code>def</code> followed by the function <code>name</code> and parentheses <code>()</code>.
*   There are input parameters or arguments that should be placed within these parentheses.
*   You can also define parameters inside these parentheses.
*   There is a body within every function that starts with a colon (<code>:</code>) and is indented.
*   You can also place documentation before the body.
*   The statement <code>return</code> exits a function, optionally passing back a value.

An example of a function that adds on to the parameter <code>a</code> prints and returns the output as <code>b</code>:

In [ ]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)
add(2)

The figure below illustrates the terminology:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/FuncsDefinition.png" width="500">

We can obtain help about a function :

In [ ]:
# Get a help on add function

help(add)

We can call the function:

In [ ]:
# Call the function add()

add(1)

If we call the function with a new input we get a new result:

In [ ]:
# Call the function add()

add(2)

We can create different functions. For example, we can create a function that multiplies two numbers. The numbers will be represented by the variables <code>a</code> and <code>b</code>:

In [ ]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

The same function can be used for different data types. For example, we can multiply two integers:

In [ ]:
# Use mult() multiply two integers

Mult(2, 3)

Note how the function terminates at the <code> return </code> statement, while passing back a value. This value can be further assigned to a different variable as desired.

<hr>
The same function can be used for different data types. For example, we can multiply two integers:

Two Floats:

In [ ]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

We can even replicate a string by multiplying with an integer:

In [ ]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

<h3 id="var">Variables</h3>

The input to a function is called a formal parameter.

A variable that is declared inside a function is called a  local variable. The parameter only exists within the function (i.e. the point where the function starts and stops).

A variable that is declared outside a function definition is a global variable, and its value is accessible and modifiable throughout the program. We will discuss more about global variables at the end of the lab.

In [ ]:
# Function Definition

def square(a):
    
    # Local variable b
    c = 1
    b = a * a + c
    print(a, "if you square + 1", b) 
    return(b)

The labels are displayed in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/FuncsVar.png" width="500">

We can call the function  with an input of <b>3</b>:

In [ ]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

We can call the function  with an input of <b>2</b> in a different manner:

In [ ]:
# Directly enter a number as parameter

square(2)

If there is no <code>return</code> statement, the function returns <code>None</code>. The following two functions are equivalent:

In [ ]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [ ]:
# See the output

MJ()

In [ ]:
# See the output

MJ1()

Printing the function after a call reveals a **None** is the default return statement:

In [ ]:
# See what functions returns are

print(MJ())
print(MJ1())

Create a function <code>con</code> that  concatenates two strings using the addition operation:

In [ ]:
# Define the function for combining strings

def con(a, b):
    return(a + b)

In [ ]:
# Test on the con() function

con("This ", "is")

<hr/>
    <div class="alert alert-success alertsuccess" style="margin-top: 20px">
        <h4> [Tip] How do I learn more about the pre-defined functions in Python? </h4>
        <p>We will be introducing a variety of pre-defined functions to you as you learn more about Python. There are just too many functions, so there's no way we can teach them all in one sitting. But if you'd like to take a quick peek, here's a short reference card for some of the commonly-used pre-defined functions: <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/Python_reference_sheet.pdf?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01">Reference</a></p>
    </div>
<hr/>

<h3 id="simple">Functions Make Things Simple</h3>

Consider the two lines of code in <b>Block 1</b> and <b>Block 2</b>: the procedure for each block is identical. The only thing that is different is the variable names and values.

<h4>Block 1:</h4>

In [ ]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

<h4>Block 2:</h4>

In [ ]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

We can replace the lines of code with a function. A function combines many instructions into a single line of code. Once a function is defined, it can be used repeatedly. You can invoke the same function many times in your program. You can save your function and use it in another program or use someone else’s function. The lines of code in code <b>Block 1</b> and code <b>Block 2</b> can be replaced by the following function:

In [ ]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

This function takes two inputs, a and b, then applies several operations to return c.
We simply define the function, replace the instructions with the function, and input the new values of <code>a1</code>, <code>b1</code> and <code>a2</code>, <code>b2</code> as inputs. The entire process is demonstrated in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/FuncsPros.gif" width="850">

Code **Blocks 1** and **Block 2** can now be replaced with code **Block 3** and code **Block 4**.

<h4>Block 3:</h4>

In [ ]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

<h4>Block 4:</h4>

In [ ]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

<hr>

<h2 id="pre">Pre-defined functions</h2>

There are many pre-defined functions in Python, so let's start with the simple ones.

The <code>print()</code> function:

In [ ]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

The <code>sum()</code> function adds all the  elements in a list or tuple:

In [ ]:
# Use sum() to add every element in a list or tuple together

sum(album_ratings)

The <code>len()</code> function returns the length of a list or tuple:

In [ ]:
# Show the length of the list or tuple

len(album_ratings)

<h2 id="if">Using <code>if</code>/<code>else</code> Statements and Loops in Functions</h2>

The <code>return()</code> function is particularly useful if you have any IF statements in the function, when you want your output to be dependent on some condition:

In [ ]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

We can use a loop in a function. For example, we can <code>print</code> out each element in a list:

In [ ]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)

In [ ]:
# Implement the printlist function

PrintList(['1', 1, 'the man', "abc"])

<h2 id="if">String comparison in Functions</h2>

The relational operators compare the Unicode values of the characters of the strings from the zeroth index till the end of the string. It then returns a boolean value according to the operator used.

In [ ]:
#Compare Two Strings Directly using in operator
# add string
string= "Michael Jackson is the best"

# Define a funtion
def check_string(text):
    
# Use if else statement and 'in' operatore to compare the string
    if text in string:
        return 'String matched'
    else:
        return 'String not matched'

check_string("Michael Jackson is the best")

This program uses a user-defined function named compareStrings() to compare two strings. 

This function receives both strings as its argument and returns 1 if both strings are equal using == operator

In [ ]:
#Compare two strings using == operator and function
def compareStrings(x, y):
# Use if else statement to compare x and y
    if x==y:
        return 1
    
# Declare two different variables as string1 and string2 and pass string in it
string1 = "Michael Jackson is the best"
string2 = "Michael Jackson is the best"

# Declare a variable to store result after comparing both the strings
check = compareStrings(string1, string2)

#Use if else statement to compare the string
if check==1:
    print("\nString Matched")
else:
    print("\nString not Matched")

**Count the Frequency of Words Appearing in a String Using a Dictionary.** 

Find the count of occurence of any word in our string using python. This is what we are going to do in this section, count the number of word in a given string and print it.

Lets suppose we have a ‘string’ and the ‘word’ and we need to find the count of occurence of this word in our string using python. This is what we are going to do in this section, count the number of word in a given string and print it. 

The first thing, we will do is define a function and and then create a list that will be empty initially.

Next, we will add a code to convert the string to a list. Python string has a split() method. It takes a string and some separator to return a list.

Now we will declare an empty dictionary.

Next we will add code using for loop to iterate the words and value will will count the frequency of each words in the string and store them to the dictionary.

Finally we will print the dictionary.

In [ ]:
# Python Program to Count words in a String using Dictionary
def freq(string):
    
    #step1: A list variable is declared and initialized to an empty list.
    words = []
    
    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()
    
    #step3: Declare a dictionary
    Dict = {}
    
    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        Dict[key] = words.count(key)
        
    #step5: Print the dictionary
    print("The Frequency of words is:",Dict)
    
#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go")

<hr>

<h2 id="default">Setting default argument values in your custom functions</h2>

You can set a default value for arguments in your function. For example, in the <code>isGoodRating()</code> function, what if we wanted to create a threshold for what we consider to be a good rating? Perhaps by default, we should have a default rating of 4:

In [ ]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [ ]:
# Test the value with default value and with input

isGoodRating()
isGoodRating(10)

<hr>

<h2 id="global">Global variables</h2>

So far, we've been creating variables within functions, but we have not discussed variables outside the function. These are called global variables. <br>
Let's try to see what <code>printer1</code> returns:

In [ ]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
    
printer1(artist)
# try runningthe following code
printer1(internal_var1)

<b>We got a Name Error:  <code>name 'internal_var' is not defined</code>. Why?</b>

It's because all the variables we create in the function is a <b>local variable</b>, meaning that the variable assignment does not persist outside the function.

But there is a way to create <b>global variables</b> from within a function as follows:

In [ ]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

<h2 id="scope">Scope of a Variable</h2>

The scope of a variable is the part of that program where that variable is accessible. Variables that are declared outside of all function definitions, such as the <code>myFavouriteBand</code> variable in the code shown here, are accessible from anywhere within the program. As a result, such variables are said to have global scope, and are known as global variables. <code>myFavouriteBand</code> is a global variable, so it is accessible from within the <code>getBandRating</code> function, and we can use it to determine a band's rating. We can also use it outside of the function, such as when we pass it to the print function to display it:

In [ ]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

Take a look at this modified version of our code. Now the <code>myFavouriteBand</code> variable is defined within the <code>getBandRating</code> function. A variable that is defined within a function is said to be a local variable of that function. That means that it is only accessible from within the function in which it is defined. Our <code>getBandRating</code> function will still work, because <code>myFavouriteBand</code> is still defined within the function. However, we can no longer print <code>myFavouriteBand</code> outside our function, because it is a local variable of our <code>getBandRating</code> function; it is only defined within the <code>getBandRating</code> function:

In [ ]:
# Deleting the variable "myFavouriteBand" from the previous example to demonstrate an example of a local variable 

del myFavouriteBand

# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

Finally, take a look at this example. We now have two <code>myFavouriteBand</code> variable definitions. The first one of these has a global scope, and the second of them is a local variable within the <code>getBandRating</code> function. Within the <code>getBandRating</code> function, the local variable takes precedence. **Deep Purple** will receive a rating of 10.0 when passed to the <code>getBandRating</code> function. However, outside of the <code>getBandRating</code> function, the <code>getBandRating</code> s local variable is not defined, so the <code>myFavouriteBand</code> variable we print is the global variable, which has a value of **AC/DC**:

In [ ]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

<hr>
<h2 id ="collec"> Collections and Functions</h2>

When the number of arguments  are unknown for a function, They can all be packed into a tuple as shown:

In [ ]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

Similarly, The arguments can also be packed into a dictionary as shown:

In [ ]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Functions can be incredibly powerful and versatile. They can accept (and return) data types, objects and even other functions as arguements. Consider the example below:

In [ ]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

Note how the changes made to the list are not limited to the functions scope. This occurs as it is the lists **reference** that is passed to the function - Any changes made are on the orignal instance of the list. Therefore, one should be cautious when passing mutable objects into functions.

<hr>

<h2>Quiz on Functions</h2>

Come up with a function that divides the first input by the second input:

In [ ]:
# Write your code below and press Shift+Enter to execute
def dev(inp1, inp2):
    res = inp1/inp2
    return res
dev(4, 2)

<details><summary>Click here for the solution</summary>

```python
def div(a, b):
    return(a/b)
    
```

</details>

<hr>

Use the function <code>con</code> for the following question.

In [ ]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

Can the <code>con</code> function we defined before be used to add two integers or strings?

In [ ]:
# Write your code below and press Shift+Enter to execute
print(con(2, 3))
print(con("me", " student"))

<details><summary>Click here for the solution</summary>

```python
Yes, for example: 
con(2, 2)
    
```

</details>

<hr>

Can the <code>con</code> function we defined before be used to concatenate lists or tuples?

In [ ]:
# Write your code below and press Shift+Enter to execute
ls1 = [1, 2]
ls2 = [3, 4]
tpl1 = (5, 6)
tpl2 = (7, 8)
print(con(ls1, ls2))
print(con(tpl1, tpl2))

<details><summary>Click here for the solution</summary>

```python
Yes, for example: 
con(['a', 1], ['b', 1])
    
```

</details>

Write a function code to find total count of word `little` in the given string: 
`"Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go"**`

In [ ]:
# Write your code below and press Shift+Enter to execute
h = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere \
that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go"
def findtotal(txt):
    lst1 = []
    lst1 = txt.lower().split()
    total = {}
    for i in lst1:
        if i == "little":
            total[i] = lst1.count(i)
    return total
findtotal(h)

<details><summary>Click here for the solution</summary>

```python
# Python Program to Count words in a String using Dictionary
def freq(string,passedkey):

    #step1: A list variable is declared and initialized to an empty list.
    words = []

    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()

    #step3: Declare a dictionary
    Dict = {}

    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        if(key == passedkey):
            Dict[key] = words.count(key)   
    #step5: Print the dictionary
    print("Total Count:",Dict)

#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")
    
```

</details>

----

## What is an Exception?

In this section you will learn about what an exception is and see examples of them.

### Definition

An exception is an error that occurs during the execution of code. This error causes the code to raise an exception and if not prepared to handle it will halt the execution of the code.

### Examples

Run each piece of code and observe the exception raised

In [2]:
1/0

ZeroDivisionError: division by zero

<code>ZeroDivisionError</code> occurs when you try to divide by zero.

In [3]:
y = a + 5

NameError: name 'a' is not defined

<code>NameError</code> -- in this case, it means that you tried to use the variable a when it was not defined.

In [4]:
a = [1, 2, 3]
a[10]

IndexError: list index out of range

<code>IndexError</code> -- in this case, it occured because you tried to access data from a list using an index that does not exist for this list.

There are many more exceptions that are built into Python, here is a list of them https://docs.python.org/3/library/exceptions.html

## Exception Handling

In this section you will learn how to handle exceptions. You will understand how to make your program perform specified tasks instead of halting code execution when an exception is encountered.

### Try Except

A <code>try except</code> will allow you to execute code that might raise an exception and in the case of any exception or a specific one we can handle or catch the exception and execute specific code. This will allow us to continue the execution of our program even if there is an exception.

Python tries to execute the code in the <code>try</code> block. In this case if there is any exception raised by the code in the <code>try</code> block, it will be caught and the code block in the <code>except</code> block will be executed. After that, the code that comes <em>after</em> the try except will be executed.

In [5]:
# potential code before try catch

try:
    # code to try to execute
except:
    # code to execute if there is an exception
    
# code that will still execute if there is an exception

IndentationError: expected an indented block (4107979928.py, line 5)

### Try Except Example

In this example we are trying to divide a number given by the user, save the outcome in the variable <code>a</code>, and then we would like to print the result of the operation. When taking user input and dividing a number by it there are a couple of exceptions that can be raised. For example if we divide by zero. Try running the following block of code with <code>b</code> as a number. An exception will only be raised if <code>b</code> is zero.

In [9]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")

Please enter a number to divide a0
There was an error

### Try Except Specific

A specific <code>try except</code> allows you to catch certain exceptions and also execute certain code depending on the exception. This is useful if you do not want to deal with some exceptions and the execution should halt. It can also help you find errors in your code that you might not be aware of. Furthermore, it can help you differentiate responses to different exceptions. In this case, the code after the try except might not run depending on the error.

<b>Do not run, just to illustrate:</b>

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except (ZeroDivisionError, NameError):
    # code to execute if there is an exception of the given types
    
# code that will execute if there is no exception or a one that we are handling

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
    
# code that will execute if there is no exception or a one that we are handling

You can also have an empty <code>except</code> at the end to catch an unexpected exception:

<b>Do not run, just to illustrate:</b>

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
except:
    # code to execute if ther is any exception
    
# code that will execute if there is no exception or a one that we are handling

### Try Except Specific Example

This is the same example as above, but now we will add differentiated messages depending on the exception, letting the user know what is wrong with the input.

In [13]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

Please enter a number to divide a0
The number you provided cant divide 1 because it is 0

### Try Except Else and Finally

<code>else</code> allows one to check if there was no exception when executing the try block. This is useful when we want to execute something only if there were no errors.

<b>do not run, just to illustrate</b>

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
except:
    # code to execute if ther is any exception
else:
    # code to execute if there is no exception
    
# code that will execute if there is no exception or a one that we are handling

<code>finally</code> allows us to always execute something even if there is an exception or not. This is usually used to signify the end of the try except.

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
except:
    # code to execute if ther is any exception
else:
    # code to execute if there is no exception
finally:
    # code to execute at the end of the try except no matter what
    
# code that will execute if there is no exception or a one that we are handling

### Try Except Else and Finally Example

You might have noticed that even if there is an error the value of <code>a</code> is always printed. Let's use the <code>else</code> and print the value of <code>a</code> only if there is no error.

In [14]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)

Please enter a number to divide a2
success a= 0.5

Now lets let the user know that we are done processing their answer. Using the <code>finally</code>, let's add a print.

In [15]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

Please enter a number to divide a2
success a= 0.5
Processing Complete