#### when we pass *args as a function argument we are actually specifying the argument to be a tuple

In [1]:
def summ(*args):
    total = 0
    for i in args:
        total+=i
    print("The total is equal to", total)
    return None
summ(3, 2, 3) # so these arguemnts are gonna be like (3, 2, 3) which is a tuple.

The total is equal to 8

<hr><br>

## some dictionary operations & methods

#### we can pass a **kwargs and this is a special symbol for an argument as a dictionary

In [2]:
def dct(**kwargs):
    for i, j in kwargs.items():
        print(i, ":", j)
    print("before using the clear function -> ", kwargs)
    kwargs.clear()
    print("after using the clear function -> ", kwargs)
    return None

dct(name = "Abdallah", age = 21, major = "CS")

name : Abdallah
age : 21
major : CS
before using the clear function ->  {'name': 'Abdallah', 'age': 21, 'major': 'CS'}
after using the clear function ->  {}

#### use get method to get a certain dictionary value based on the key passed to the method

In [3]:
dctt = {"model" : "Porche", "year" : 2022, "model_type" : "sport"}
for i in dctt:
    print(dctt[i])
dctt.get("model")

Porche
2022
sport

'Porche'

#### to check if certain key exists in a dictionary

In [4]:
print("model" in dctt)
print("number" in dctt)
# there is this method has_key() but it's been removed in Python 3 it used to do the same thing

True
False

#### use pop() method to remove certain key and its value from the dictionary

In [5]:
dctt.pop("model_type")
dctt

{'model': 'Porche', 'year': 2022}

### hacker rank problem (finding the percentage)

In [6]:
n = int(input("Enter number of students\n"))
student_marks = {}
for i in range(n):
    name, *line = input("Enter the name and the 3 marks of student all separated by a space\n").split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input("Enter the name of student you wish to get their average marks\n")
for j in student_marks:
    if j == query_name:
        marks = student_marks[j]
        avg = "%.2f" % (sum(marks)/len(marks)) # to get result in only 2 decimals after the period
print(avg)

Enter number of students
2
Enter the name and the 3 marks of student all separated by a space
ahmed 20 10 30
Enter the name and the 3 marks of student all separated by a space
abdallah 10 10 35
Enter the name of student you wish to get their average marks
abdallah
18.33

In [7]:
n = int(input("Enter number of students\n"))
student_marks = {}
for i in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
for j in student_marks:
    if j == query_name:
        marks = student_marks[j] # marks = sum(student_marks[j])/len(student_marks[j]) <- this also works :p
        avg = sum(marks)/len(marks)
print(avg)

# here i try to convert my code into a function but yet it doesn't work so don't mind it
# def find_avg(n):
#     n = int(input("Enter number of students\n"))
#     student_marks = {}
#     for i in range(n):
#         name, *line = input("Enter the name of student and their 3 marks all separated by a space").split()
#         scores = list(map(float, line))
#         student_marks[name] = scores
#     query_name = input("Enter the name of student you wish to get their average mark\n")
#     for j in student_marks:
#         if j == query_name:
#             marks = student_marks[j]
#             avg = sum(marks)/len(marks)
#     print(avg)
#     return None
# find_avg

# hacker rank code :
# if __name__ == '__main__':
#     n = int(input())
#     student_marks = {}
#     for i in range(n):
#         name, *line = input().split()
#         scores = list(map(float, line))
#         student_marks[name] = scores
#     query_name = input()
#     for j in student_marks:
#         if j == query_name:
#             marks = student_marks[j]
#             avg = "%.2f" % (sum(marks)/len(marks))
#     print(avg)

Enter number of students
2
ahmed
abdallah 10 20 30
abdallah
20.0

In [20]:
class analysedText(object):
    
    def __init__ (self, text):

        # TODO: Remove the punctuation from <text> and make it lower case.
        
        formattedtext = text.replace(".", "").replace("!", "").replace(",", "").replace("?", "")
        
        formattedtext = formattedtext.lower()
        
        # TODO: Assign the formatted text to a new attribute called "fmtText"
        
        self.fmtText = formattedtext 
    
    
    def freqAll(self):    

        # TODO: Split the text into a list of words
        
        wordd = []
        wordd = self.fmtText.split()

        # TODO: Create a dictionary with the unique words in the text as keys
        
        ddct = {}
        
        # and the number of times they occur in the text as values
      
        for keys in wordd:
            ddct[keys] = wordd.count(keys)
        
        # return the created dictionary
        
        return ddct
        
    def freqOf(self, word):

        # TODO: return the number of occurrences of <word> in <fmtText>
        freqddct = self.freqAll()
        
        return freqddct[word]

samplePassage = analysedText("Lorem ipsum dolor! diam amet, consetetur Lorem magna. sed diam nonumy eirmod tempor. diam et labore? et diam magna. et diam amet.")
print(samplePassage.freqAll())
print(samplePassage.freqOf("lorem"))

{'lorem': 2, 'ipsum': 1, 'dolor': 1, 'diam': 5, 'amet': 2, 'consetetur': 1, 'magna': 2, 'sed': 1, 'nonumy': 1, 'eirmod': 1, 'tempor': 1, 'et': 3, 'labore': 1}
2

In [21]:
import sys

sampleMap = {'eirmod': 1,'sed': 1, 'amet': 2, 'diam': 5, 'consetetur': 1, 'labore': 1, 'tempor': 1, 'dolor': 1, 'magna': 2, 'et': 3, 'nonumy': 1, 'ipsum': 1, 'lorem': 2}

def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

print("Constructor: ")
try:
    samplePassage = analysedText("Lorem ipsum dolor! diam amet, consetetur Lorem magna. sed diam nonumy eirmod tempor. diam et labore? et diam magna. et diam amet.")
    print(testMsg(samplePassage.fmtText == "lorem ipsum dolor diam amet consetetur lorem magna sed diam nonumy eirmod tempor diam et labore et diam magna et diam amet"))
except:
    print("Error detected. Recheck your function " )
print("freqAll: ")
try:
    wordMap = samplePassage.freqAll()
    print(testMsg(wordMap==sampleMap))
except:
    print("Error detected. Recheck your function " )
print("freqOf: ")
try:
    passed = True
    for word in sampleMap:
        if samplePassage.freqOf(word) != sampleMap[word]:
            passed = False
            break
    print(testMsg(passed))
    
except:
    print("Error detected. Recheck your function  " )

Constructor:
Test Passed
freqAll:
Test Passed
freqOf:
Test Passed

### File handling

In [87]:
with open("exm1.txt", "w") as wf:
    wf.write("Hello, I'm Abdallah")
    print(wf.tell())
    wf.write("I'm a student")
    print(wf.tell())
    wf.seek(19, 0)
    wf.write(".\n")

19
32

In [21]:
with open("exm1.txt", "r") as rf:
    print(rf.read())
#     rf.seek(20, 0)
#     print(rf.read())
    print(rf.tell())

Hello, I'm Abdallah.
I'm a student.
35

In [97]:
with open("exm1.txt", "r+") as rwf:
    print(rwf.read())
    rwf.seek(21, 0)
    rwf.write("I'm a student.")
    rwf.seek(0)
    print(rwf.read())
    print(rwf.tell())

Hello, I'm Abdallah.
I'm a student.
Hello, I'm Abdallah.
I'm a student.
35

In [19]:
with open("exm1.txt", "r") as rf:
    with open("exm2.txt", "w") as wf:
        for line in rf:
            wf.write(line)

In [23]:
with open("exm2.txt", "r") as rf:
    print(rf.name)
    print(rf.read())
    print(rf.tell())

exm2.txt
Hello, I'm Abdallah.
I'm a student.
36

In [28]:
line = ["sjfowei no", "lsdjfioew fno", "fowejfoewi"]
for i, j in enumerate(line):
    if "no" in line[i]:
        print("yes", i)
    else:
        print("no", i)

yes 0
yes 1
no 2

### Greatest common devisor problem

In [30]:
# how to find the greatest devisor for certain number

# num = 5
# dev = 1
# cd = []
# max_cd = 0
# while dev <= num:
#     if num % dev == 0:
#         cd.append(dev)
#         dev+= 1
#     else:
#         dev+= 1
# print(cd)
# for i in cd:
#     if i > max_cd:
#         max_cd = i
# print("The maximum common divisor is", max_cd)

# # how to find the greatest devisor for certain number (using function)

# def find_devisor(num):
#     dev = 1
#     cd = []
#     max_cd = 0
#     while dev <= num:
#         if num % dev == 0:
#             cd.append(dev)
#             dev+= 1
#         else:
#             dev+= 1
#     print("the devisors ->", cd)
#     for i in cd:
#         if i > max_cd:
#             max_cd = i
#     print("The greatest divisor is", max_cd)
#     return None
# find_devisor(6)
# find_devisor(7)
# find_devisor(9)

# how to find the greatest common devisor for 2 numbers

def find_gcdevisor(num1, num2):
    dev1 = 1
    dev2 = 1
    cd1 = []
    cd2 = []
    cd = []
    max_cd = 0
    # find the devisors of num1
    while dev1 <= num1:
        if num1 % dev1 == 0:
            cd1.append(dev1)
            dev1 += 1
        else:
            dev1 += 1
    print("the devisors of", num1, "->", cd1)
    
    # find the devisors of num2
    while dev2 <= num2:
        if num2 % dev2 == 0:
            cd2.append(dev2)
            dev2 += 1
        else:
            dev2 += 1        
    print("the devisors of", num2, "->", cd2)
    
    # Adding the common devisors for both numbers in one list
    for x in cd1:
        for y in cd2:
            if x == y:
                cd.append(x)
    # now finding the greatest common devisor 
    for i in cd:
        if i > max_cd:
            max_cd = i
    print("The greatest common divisor is", max_cd)
    return None

find_gcdevisor(10, 20)
find_gcdevisor(91, 39)
find_gcdevisor(320, 480)

the devisors of 10 -> [1, 2, 5, 10]
the devisors of 20 -> [1, 2, 4, 5, 10, 20]
The greatest common divisor is 10
the devisors of 91 -> [1, 7, 13, 91]
the devisors of 39 -> [1, 3, 13, 39]
The greatest common divisor is 13
the devisors of 320 -> [1, 2, 4, 5, 8, 10, 16, 20, 32, 40, 64, 80, 160, 320]
the devisors of 480 -> [1, 2, 3, 4, 5, 6, 8, 10, 12, 15, 16, 20, 24, 30, 32, 40, 48, 60, 80, 96, 120, 160, 240, 480]
The greatest common divisor is 160

### Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dailyActivity_merged.csv")
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

#### Create dataframe

In [20]:
students = {"Name":["Abdallah", "Ahmed", "Noor"], "Age":[22, 21, 18], "Major":["Computer Science", "Chemistry", "Accounting"]}
students_df = pd.DataFrame(students)
students_df.head()

       Name  Age             Major
0  Abdallah   22  Computer Science
1     Ahmed   21         Chemistry
2      Noor   18        Accounting

#### access a cell using .iloc[] method

In [40]:
print(students_df.iloc[2, 0])

Noor

#### use the slicing to show multiple records

In [53]:
students_df.iloc[0:2]

       Name  Age             Major
0  Abdallah   22  Computer Science
1     Ahmed   21         Chemistry

#### access a cell using the loc() method

In [43]:
students_df.loc[0, "Name"]

'Abdallah'

In [54]:
students_df.loc[0:2]

       Name  Age             Major
0  Abdallah   22  Computer Science
1     Ahmed   21         Chemistry
2      Noor   18        Accounting

#### set Name column as the index of df

In [44]:
students_df2 = students_df.set_index("Name")
students_df2

          Age             Major
Name
Abdallah   22  Computer Science
Ahmed      21         Chemistry
Noor       18        Accounting

In [47]:
print(students_df2.loc["Abdallah", "Major"])
print(students_df2.loc["Abdallah", "Age"])

Computer Science
22

#### create a dataframe from an existing dataframe

In [21]:
name = students_df[["Name"]]
name.head()

       Name
0  Abdallah
1     Ahmed
2      Noor

#### showing the unique values of a specific field

In [22]:
students_df["Name"].unique()

array(['Abdallah', 'Ahmed', 'Noor'], dtype=object)

In [23]:
students_df["Age"] >= 20

0     True
1     True
2    False
Name: Age, dtype: bool

#### creating a df from an existing df based on a condition

In [27]:
students_dfup20 = students_df[students_df["Age"] >= 20]
students_dfup20.head()

       Name  Age             Major
0  Abdallah   22  Computer Science
1     Ahmed   21         Chemistry

#### save a dataframe as a csv

In [26]:
students_df.to_csv("students.csv")